
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: green;
    color: white;
    text-align: center;
}

#relogio {
    font-size: 80px;
    font-weight: bold;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

#hours, #minutes, #seconds {
    display: inline-block;
    min-width: 50px;
}

#titulo {
    text-align: center;
    color: blue;
}

#paragrafo {
    text-align: center;
    color: blue;
}

#box {
    width: 550px;
            height: 480px;
            background-color: yellow;
            border: 2px solid #ccc; 
            border-radius: 40px;
            padding: 50px;
            margin: 10px;
            text-align: center;
            display: inline-block;

}